
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> selenium executables ###
/geckodriver.exe
/selenium-server-standalone-3.141.59.jar
###< selenium executables ###